[submodule "libflex/FLEX"]
	path = deps/libflex/FLEX
	url = https://github.com/FLEXTool/FLEX
[submodule "zxPluginsInject"]
	path = deps/zxPluginsInject
	url = https://github.com/asdfzxcvbn/zxPluginsInject
